<a href="#" class="list-group-item active">配件管理</a>

<a
  href="/admin/product"
  class="list-group-item cur"
  onclick="chengeColor('/admin/product')"
>
  配件列表</a
>
<a href="/admin/product/add" class="list-group-item cur"> 添加配件</a>

<a href="#" class="list-group-item active">用户管理</a>
<a href="/admin/user" class="list-group-item cur"> 用户列表</a>
<a href="/admin/user/add" class="list-group-item cur"> 添加用户</a>

<a href="#" class="list-group-item active">订单管理</a>
<a href="/admin/user/orderList" class="list-group-item cur"> 订单列表</a>
<a  class="list-group-item cur"> 订单详情</a>

<a href="#" class="list-group-item active">公告管理</a>
<a href="/admin/notice" class="list-group-item cur"> 公告信息列表</a>
<a href="/admin/notice/add" class="list-group-item cur"> 添加公告</a>

<a href="#" class="list-group-item active">管理员设置</a>
<a href="/admin/login/update" class="list-group-item cur"> 修改密码</a>
<a href="/admin/login/addAdmin" class="list-group-item cur"> 添加管理员</a>
<a href="/admin/login/adminList" class="list-group-item cur">管理员列表</a>

<a href="#" class="list-group-item active">回收站</a>
<a href="/admin/product/peijian" class="list-group-item cur"> 配件回收站</a>
<a href="/admin/notice/notice" class="list-group-item cur"> 公告回收站</a>

<style>
    .on {
        background: #87bfec;
    }
</style>
<script>
    $('.cur').each(function () {
        if ($(this)[0].href == String(window.location)) {
            $(this).addClass('on')
            $(this).siblings().removeClass('on');

        }
    })

</script>